node.Highlight {
    shape: box;
    size:30px,30px;
    fill-mode: image-scaled;
    fill-image: url('/media/data/workspaces/groovy_grails_suite/pbrain/styles/highlight.jpg');
}

node.Square {
    shape: box;
    size:30px,30px;
    fill-mode: image-scaled;
    fill-image: url('/media/data/workspaces/groovy_grails_suite/pbrain/styles/camera.png');
}

node.Text {
    shape: box;
    size:30px,30px;
    fill-mode: image-scaled;
    fill-image: url('/media/data/workspaces/groovy_grails_suite/pbrain/styles/comment.png');
}

node.comment {
    shape: box;
    size:30px,30px;
    fill-mode: image-scaled;
    fill-image: url('/media/data/workspaces/groovy_grails_suite/pbrain/styles/comment.png');
}

node.publication {
    shape: box;
    size:30px,30px;
    fill-mode: image-scaled;
    fill-image: url('/media/data/workspaces/groovy_grails_suite/pbrain/styles/publication.jpg');
}

node.Underline {
    shape: box;
    size:30px,30px;
    fill-mode: image-scaled;
    fill-image: url('/media/data/workspaces/groovy_grails_suite/pbrain/styles/reference.gif');
}

edge {
    shape: blob;
    fill-mode: plain;
    fill-color: DarkGrey;
}

sprite {
    shape: box;
    size: 32px, 52px;
    fill-mode: image-scaled;
    fill-image: url('mapPinSmall.png');
}